@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }

  body {
    @apply bg-gray-100 text-gray-900 transition dark:bg-gray-900 dark:text-gray-300;
  }

  .prose :not(pre) > code {
    @apply rounded bg-gray-200 px-1 py-0.5 text-sky-600 before:content-[''] after:content-[''];
  }

  @keyframes spin {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
}

@layer components {
  .tools {
    @apply grid max-w-fit grid-cols-6 gap-y-4 rounded bg-white shadow transition;
  }

  .tools.show {
    @apply opacity-100;
  }

  .tools.hide {
    @apply invisible opacity-0;
  }

  .btn-tools {
    @apply p-4 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700;
  }

  .btn-toggle-dark-mode {
    animation: spin 700ms forwards;
  }
}
